:root {
	--primary-color: #5465ff;
	--secondary-color: #788bff;
	--primary-text: #111111;
	--secondary-text: #fefefe;
    --rounded-px: 20px;
}

.quiz {
    border: 15px solid var(--secondary-color);
    border-radius: var(--rounded-px); /* rounded corner */
    background-color: var(--secondary-color);
    width: 30%;
    height: 300px;
    justify-content: center;
    text-align: center;
    display: grid;
    margin-left: auto;
    margin-right: auto;
    
}

.options {
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
    justify-content: space-around;
    align-items: stretch;
}